<div id="cart">
    <app-koszyk-wycieczek  id="row"></app-koszyk-wycieczek>
</div>

<div id="menu">



    
<br>

<div class="border">
<b (click)="setAttributes()"> Filtruj</b>
<app-filtrowanie-wycieczek *ngIf="showFiltersF()" [(filterValues)]="attributes" ></app-filtrowanie-wycieczek>
</div>

<br>


</div>

<div *ngIf="!this.wycieczki.length">nie ma jeszcze</div>

<main id="screen">
    <ng-container *ngFor="let item of (getWycieczki() | filterPipe : attributes)">

        <ng-container *ngIf="!item.hidden">
            
            <section class="card" 
            [ngClass]="{'expensive': item.price==minPrice , 'cheap' : item.price==maxPrice}"
            [ngStyle]="{'background-color': getColor(item.reserved/(item.maxPeople+item.reserved)) } ">
            
            <div class="panel">
                <img routerLink="/trip/{{item.id}}" src="{{item.image}}" alt="image not found">
                <div class="tooltip">
                    <span class="material-symbols-outlined">
                        info
                        </span>
                    <div class="tooltiptext">
                        {{item.description}}
                    </div>
                </div>
            </div>
            
            <div class="countries">
                <div>{{item.name  | uppercase}}</div> 
                <div>{{item.country | uppercase}}</div>
            </div>
            
            <div id="reservation">
                <b>{{item.price | currency: item.currency }}</b>
                <div *ngIf="item.maxPeople!=0" [ngClass]="{'blink' : item.maxPeople<=3}">{{item.maxPeople}}</div>
                <div *ngIf="item.maxPeople==0">Brak miejsc</div>
                <div class="buttons">
                    <button (click)="addReservation(item)" [ngStyle]="{'display' : item.maxPeople+item.reserved==item.reserved ? 'none' : 'block'}" >+</button>
                    
                    <button (click)="removeReservation(item)" [disabled]="item.reserved==0 ? true : false"  >-</button>
                </div>
            </div>
            <div id="info">
                <div>{{item.startDate | date}}</div>
                -
                <div>{{item.endDate | date}}</div>
            </div>
        
            <div>{{ocena(item.reviews)}}</div>
            <app-trip-review [(reviews)]="item.reviews"></app-trip-review>
                
        </section>
</ng-container>
</ng-container>
</main>