<nav (window:resize)="onResize($event)">

    <div>
        <span (click)="changeHamburger()" class="material-symbols-outlined">
            {{hamburgerText}}
        </span>
    </div>
    <div id="options" *ngIf="hamburgerMenu">
        <div  id="home" routerLink="/home">HOME</div>
        <div  routerLink="/trips">Shop trips!</div>
        <div  routerLink="/add-trip">Add trip</div>
        <div  routerLink="cart">Your cart</div>
        <div  routerLink="history">Your history</div>
        <div  id="profile">!Incoming trip!</div>
        <div  id="profile">Profile</div>
    </div>
</nav>
