<nav (window:resize)="onResize($event)">

    <span (click)="changeHamburger()" class="material-symbols-outlined">
        {{hamburgerText}}
    </span>
    
    <div *ngIf="hamburgerMenu" id="home" routerLink="/home">HOME</div>
    <div *ngIf="hamburgerMenu" routerLink="/trips">Shop trips!</div>
    <div *ngIf="hamburgerMenu" routerLink="/add-trip">Add trip</div>
    <div *ngIf="hamburgerMenu" routerLink="cart">Your cart</div>
    <div *ngIf="hamburgerMenu" routerLink="history">Your history</div>
    <div *ngIf="hamburgerMenu" id="profile">!Incoming trip!</div>
    <div *ngIf="hamburgerMenu" id="profile">Profile</div>
</nav>
