nav{
    background-color: var(--grayColor);
    color: white;
}
#options{
    display: flex;
    justify-content: center;
    font-size: large;
    font-weight: bolder;
}
#options>div{
    padding: 1%;
    text-align: center;
}

#profile{
    margin-left: auto;
}
#home{
    margin-right: auto;
}
span{
    display: none;
}


@media (max-width: 730px) {
    nav{
        width: 100vw;
    }
    #options{
        height: 100vh;
        display: grid;
        grid-template-columns: auto;
        font-size: xx-large;
    }
    span{
        display: block;
        width: fit-content;
        height: fit-content;
    }
    #home, #profile{
        width: 100%;
        padding: 0;
    }
    

}