<nav (window:resize)="onResize($event)">

    <div>
        <span (click)="changeHamburger()" class="material-symbols-outlined">
            {{hamburgerText}}
        </span>
    </div>

    <div id="options" *ngIf="hamburgerMenu">

        <div  id="home" routerLink="/home">HOME</div>
        <div *ngIf="this.authService.userType.admin" id="admin" routerLink="/admin-panel"> Admin Panel </div>
        <div  routerLink="/trips" id="trips">Shop trips!</div>
        <div *ngIf="this.authService.userType.manager" routerLink="/add-trip" id="manager">Add trip</div>
        <div *ngIf="this.authService.userData" routerLink="cart" id="cart">Your cart</div>
        <div *ngIf="this.authService.userData" routerLink="history" id="history">Your history</div>
        <div *ngIf="this.authService.userData" id="profile" id="notif">!Incoming trip!</div>

        <div *ngIf="!this.authService.userData" routerLink="/login" id="login">Login</div>
        <div *ngIf="!this.authService.userData" routerLink="/register" id="register">Register</div>
        <div *ngIf="this.authService.userData" id="username">{{getUsername()}}</div>
        <div *ngIf="this.authService.userData" (click)="logout()" id="logout">Logout</div>

    </div>
</nav>
