<main>
    <form  [formGroup]="modelForm" (ngSubmit)="onSubmit(modelForm)">
        <label>Your nickname:</label><input name="nickname" formControlName="nickname">
        <label>Trip: </label><input formControlName="trip">
        <label>Place your review:</label><textarea type="time" name="review" formControlName="review"></textarea>
        <label>Date of trip:</label> <input type="date" name="date" formControlName="date">
        <button [disabled]="!modelForm.valid" type="submit">Add</button>
    </form>
</main>