/* You can add global styles to this file, and also import other style files */
body,p{
    margin: 0;
    background-color: var(--lighterGrayColor);
    color: white;
}

:root{
    --grayColor: rgb(73, 73, 73);
    --lighterGrayColor: rgb(105, 105, 105);
}
