<main>
 work in progress
</main>
<footer>
    <div>
        <h3>Info</h3>
        <p>
          <a href="mailto:twoj@email.com">contact@email.com</a><br>
          <a href="tel:+48123456789">+48 123 456 789</a><br>
          Ul. Twoja 1, 00-000 Miasto
        </p>
      </div>
      <span class="material-symbols-outlined">
        <a href="https://www.google.pl/maps/place/Niemir%C3%B3w,+Obw%C3%B3d+lwowski,+Ukraina,+81014/@50.1019223,23.4088208,14z/data=!3m1!4b1!4m5!3m4!1s0x473b47c7584b8a95:0xfb34667eda746304!8m2!3d50.1035701!4d23.4333229">

            pin_drop
        </a>
        </span>
</footer>