<div *ngIf="this.trip!=null">
    <form  [formGroup]="modelForm" (ngSubmit)="onSubmit(modelForm)">
        <label>name:</label><input name="name" formControlName="name" [value]="trip.name">
        <label>country:</label><input name="country" formControlName="country" [value]="trip.country">
        <label>starting date:</label><input type="date" name="startDate" formControlName="startDate" [value]="trip.startDate">
        <label>ending date:</label><input type="date" name="endDate" formControlName="endDate" [value]="trip.endDate">
        <label>price:</label><input name="price" formControlName="price" [value]="trip.price">
        <label>max number of people:</label><input name="maxPeople" formControlName="maxPeople" [value]="trip.maxPeople">
        <label>description:</label><input name="description" formControlName="description" [value]="trip.description">
        <label>image link:</label><input  name="image" formControlName="image" [value]="trip.image">
        <button [disabled]="!modelForm.valid" type="submit">UPDATE</button>
    </form>
    

</div>

